@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --voodoo-50: #fbf8fb;
  --voodoo-100: #f6f0f7;
  --voodoo-200: #ede0ee;
  --voodoo-300: #e0c7e0;
  --voodoo-400: #cca6cb;
  --voodoo-500: #b481b3;
  --voodoo-600: #976295;
  --voodoo-700: #7c4f79;
  --voodoo-800: #664263;
  --voodoo-900: #5a3d57;
  --voodoo-950: #341e32;

  --background: var(--voodoo-50);
  --foreground: var(--voodoo-950);
  --card: white;
  --card-foreground: var(--voodoo-950);
  --popover: white;
  --popover-foreground: var(--voodoo-950);
  --primary: var(--voodoo-700);
  --primary-foreground: var(--voodoo-50);
  --secondary: var(--voodoo-100);
  --secondary-foreground: var(--voodoo-900);
  --muted: var(--voodoo-50);
  --muted-foreground: var(--voodoo-600);
  --accent: var(--voodoo-100);
  --accent-foreground: var(--voodoo-900);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: var(--voodoo-200);
  --input: var(--voodoo-200);
  --ring: var(--voodoo-500);
  --chart-1: var(--voodoo-600);
  --chart-2: var(--voodoo-400);
  --chart-3: var(--voodoo-300);
  --chart-4: var(--voodoo-200);
  --chart-5: var(--voodoo-100);
  --radius: 0.625rem;
  --sidebar: var(--voodoo-50);
  --sidebar-foreground: var(--voodoo-950);
  --sidebar-primary: var(--voodoo-700);
  --sidebar-primary-foreground: var(--voodoo-50);
  --sidebar-accent: var(--voodoo-100);
  --sidebar-accent-foreground: var(--voodoo-900);
  --sidebar-border: var(--voodoo-200);
  --sidebar-ring: var(--voodoo-500);
}

.dark {
  --background: var(--voodoo-950);
  --foreground: var(--voodoo-50);
  --card: var(--voodoo-950);
  --card-foreground: var(--voodoo-50);
  --popover: var(--voodoo-950);
  --popover-foreground: var(--voodoo-50);
  --primary: var(--voodoo-400);
  --primary-foreground: var(--voodoo-950);
  --secondary: var(--voodoo-900);
  --secondary-foreground: var(--voodoo-50);
  --muted: var(--voodoo-900);
  --muted-foreground: var(--voodoo-300);
  --accent: var(--voodoo-900);
  --accent-foreground: var(--voodoo-50);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: var(--voodoo-800);
  --input: var(--voodoo-800);
  --ring: var(--voodoo-400);
  --chart-1: var(--voodoo-400);
  --chart-2: var(--voodoo-500);
  --chart-3: var(--voodoo-600);
  --chart-4: var(--voodoo-700);
  --chart-5: var(--voodoo-800);
  --sidebar: var(--voodoo-950);
  --sidebar-foreground: var(--voodoo-50);
  --sidebar-primary: var(--voodoo-400);
  --sidebar-primary-foreground: var(--voodoo-950);
  --sidebar-accent: var(--voodoo-900);
  --sidebar-accent-foreground: var(--voodoo-50);
  --sidebar-border: var(--voodoo-800);
  --sidebar-ring: var(--voodoo-400);
}

@theme inline {
  /* optional: --font-sans, --font-serif, --font-mono if they are applied in the layout.tsx */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  
  --color-voodoo-50: var(--voodoo-50);
  --color-voodoo-100: var(--voodoo-100);
  --color-voodoo-200: var(--voodoo-200);
  --color-voodoo-300: var(--voodoo-300);
  --color-voodoo-400: var(--voodoo-400);
  --color-voodoo-500: var(--voodoo-500);
  --color-voodoo-600: var(--voodoo-600);
  --color-voodoo-700: var(--voodoo-700);
  --color-voodoo-800: var(--voodoo-800);
  --color-voodoo-900: var(--voodoo-900);
  --color-voodoo-950: var(--voodoo-950);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html, body {
    @apply bg-background text-foreground;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
}
